.message{
    position: absolute;
    width: 500px;
    height: 300px;
    border-radius: 6px;
    border-width: 3pt;
    border-color: blue;
    background-color: cadetblue;
    top:25%;
    left: 40%;
}
.message .titulo{
    position: absolute;
    background-color: #C4C4C4;
    border-width: 0pt 0pt 2pt 0pt;
    border-radius: 6px 6px 0px 0px;
    border-color: black;
    border-radius: 0pt;
    align-items: center;
    top: 0px;
    width: 100%;
    height: 45%;
}
.message .body{
    position: absolute;
    background-color: #FFFFFF;
    top: 45%;
    align-items: center;
    width: 100%;
    height: 45%;
}
.message input{
    position: absolute;
    top: 90%;
    width: 25%;
    right: 10%;
}