<!DOCTYPE html><html><meta charset="utf-8"/>
	<head>
        <title>Cadastrar</title>
        <link type="text/css" rel="stylesheet" href="/static/CSS/index.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script type="text/javascript" src='/static/JS/index.js'></script>
    </head>
	<body>
		<form class="formCadastro">
            <h2>Digite seus Dados<h2>
            <input id="username" type="text" placeholder="Digite seu usuário" required>
            <input id="senha" type="password" placeholder="Digite sua senha" required>
            <input id="confirmSenha" type="password" placeholder="Confirme sua senha" required>
            <input id="nome" type="test" placeholder="Digite seu Nome" required>
            <input id="btnCadastrar" type="button" value="Cadastrar-se">
        </form>
	</body>
</html>
