<!DOCTYPE html><html><meta charset="utf-8"/>
	<head>
        <title>Login</title>
        <link type="text/css" rel="stylesheet" href="/static/CSS/index.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script type="text/javascript" src='/static/JS/index.js'></script>
    </head>
	<body>
		<form class="formLogin">
            <h2>Faça seu Login<h2>
            <input id="username" type="text" required>
            <input id="senha" type="password" required>
            <input id="btnLogar" type="button" value="Logar">
            <a href="/cadastro">Novo aqui? Cadastre-se</a>
        </form>
	</body>
</html>
